@charset "UTF-8";
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

/* reset */
body {
	font: normal 14px 'NanumSquare', Arial, sans-serif;
	font-weight: 400; /* Regular(400), Bold(700), Extra Bold(800), Light(300) */
	line-height: 1.4;
	margin: 0;
	padding: 0;
}
html{font-size: 62.5%;}
h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, 
address, table, thead, tbody, tfoot, tr, td, caption {margin: 0; padding: 0;}

/* header */
.header-wrap {width: 100%; position: fixed; top: 0; z-index: 999; background-color: #FFFFFF}
.nav{display: flex; justify-content: center; width: 100%; margin: 1rem auto; padding: 0.6rem; text-align: center; align-items: center;}
.nav .nav-logo > a {width: 140px; height: 38px; margin-right: 15px; display: flex; align-items: center; text-decoration: none; color: #ff6f0f; font-size: 2rem; font-weight: 800;}
.nav .nav-logo a > img {width: 38px; height: 38px; display: block; transform: translateY(-2px);}
.nav .nav-main {width: 480px;}
.nav .nav-main > ul {margin: 10px; display: flex; list-style: none;}
.nav .nav-main > li {display: list-item;}
.nav .nav-main li > a {margin-right: 30px; text-decoration: none; color: #000; font-size: 2rem; font-weight: 700;}
.nav .nav-main li > a:hover {color: #868b94;}
/* 페이지 이동시 li 태그 색상 변경 이벤트 JS로 구현 해야함*/
/* .nav .nav-main li > a:active {color: #ff6f0f;} */
.nav .search-bar {display: flex;}
.nav .search-bar > input {width: 30rem; height: 4.2rem; padding: 9px 12px; border: none; border-radius: 4px; font-size: 1.5rem; color: #212124; background-color: #f2f3f6;}
.nav .nav-btn {width: 165px; padding: 0.7rem; display: flex; justify-content: space-evenly;}
.nav .nav-btn .btn-chat {cursor: pointer; padding: 10px 10px; border: 1px solid #d1d3d8; border-radius: 2px; font-size: 1.5rem; font-weight: 700; background-color: #fff;}
.nav .nav-btn .btn-chat:hover {color: #212124; background-color: #f2f3f6;}
.nav .nav-btn .btn-login {cursor: pointer; padding: 10px 10px; border: 1px solid #d1d3d8; border-radius: 2px; font-size: 1.5rem; font-weight: 700; background-color: #fff;}
.nav .nav-btn .btn-login:hover {color: #212124; background-color: #f2f3f6;}

/* footer */
.footer-wrap {border-top: 1px solid; border-color: #eaebee; max-width: 1600px; text-align: center; line-height: 1.7;}
.footer-wrap .footer-section {display: flex; margin: 0 auto; padding: 50px 0; justify-content: center;}
.footer-wrap .footer-section .footer-section-left {width: 25%;}
.footer-wrap .footer-section .footer-section-left > ul {width: 33%; float: left; display: flex; flex-direction: column; list-style: none;}
.footer-wrap .footer-section .footer-section-left > li {margin: 10px;}
.footer-wrap .footer-section .footer-section-right {width: 33%;}
.footer-wrap .footer-info {border-top: 1px solid; border-color: #eaebee; max-width: 1600px; padding: 50px 0;}

.footer-info .footer-info-right {display: flex; justify-content: center;}
.footer-info .footer-select {margin-left: 10px;}

/* index */
.main-wrap {margin: 7.3rem auto 0; align-items: center;}
.main-wrap .main-title {width: 980px; margin: 0 auto;}
.main-wrap .main-title > h1 {font-size: 34px; font-weight: 800; text-align: center; margin-bottom: 40px;}
.main-wrap .main-content:first-child {position: relative; display: flex; padding-top: 24px; background-color: #FBF7F2;}
.main-wrap .main-content:nth-child(2) {display: flex; padding: 6rem 0;}
.main-wrap .main-content:nth-child(3) {display: flex; padding: 6rem 0; background-color: #E6F3E6;}
.main-wrap .main-content:nth-child(4) {display: flex; padding: 6rem 0;}

.main-content .text-section {margin: 150px 0;}
.main-content .main-title {width: 350px; font-weight: 900; font-size: 40px;}
.main-content .img-section {width: 40%;}
.main-content .main-img > img {width: 100%; height: 100%;}

.main-wrap .second-content {background-color: #F8F9FA; text-align: center;}
.main-wrap .third-content {display: flex; justify-content: center; margin: 40px auto; text-align: center;}
.main-wrap .third-content > ul {display: flex; margin: 0 3rem; text-align: center; list-style: none;}

.main-wrap .main-jobs {text-align: center; background-color: #ff6f0f;}


/* hot_articles */
.main-wrap .article-top {width: 980px; margin: 1rem auto; display: flex; justify-content: space-between; align-items: center;}
.main-wrap .selector {float: right; display: flex;}

.article-wrap .article-posts {width: 980px; margin: 0 auto; display: flex; justify-content: space-between; flex-wrap: wrap;}
.article-posts .post {width: calc(25% - 44px); margin-right: 44px; margin-bottom: 56px; cursor: pointer;}
.article-click .article-img {width: 100%; border-radius: 12px;}

.article-bottom {padding: 80px 0; text-align: center; background-color: #f8f9fa;} 
 
 
/* jobs & realty */
.main-top-wrap {height: 30rem; background: #ffe2d2;}
.main-top-wrap .main-top {width: 980px; display: flex;}
.main-top-wrap .main-top .main-text {width: 700px; margin: 0 auto; padding: 5rem 1rem 0;}
.main-top-wrap .main-top .main-text > h1 {font-size: 34px; font-weight: 800; margin-bottom: 15px;}
.main-top-wrap .main-top .main-text > p {font-size: 18px;}
.main-top-wrap .main-top .main-img > img {width: 567px; position: absolute; transform: translateX(-525px) translateY(55px);}

.main-wrap .post-wrap .post-top-wrap {width: 780px; margin: 0 auto;}
.main-wrap .post-wrap .post-top-wrap {display: flex; align-items: center;}
.main-wrap .post-wrap .post-top-wrap > h2 {font-size: 2.8rem; margin: 3.75rem 54rem 2.5rem 0;}



.karrot-app {cursor: pointer; width: 770px; margin: 0 auto; display: flex; align-items: center; border-radius: 10px; background-color: #ff6f0f24}
.karrot-app .app-left > img {width: 5.5rem; margin: 0 4rem;}
.karrot-app .app-mid {margin: 3rem 24rem 3rem 0; font-size: 2rem; font-weight: 700;}
.karrot-app .app-right {padding: 1rem 1rem; margin-right: 1rem; color: #fff; font-size: 1.5rem; font-weight: 700; border-radius: 10px; background-color: #ff6f0f;}
 
/* posts */
.posts {display:flex; justify-content: space-between;}
.posts .posts-img > img {display: block; width: 80px; height: 80px; float: left; }
.post-btn {float:right; margin-top: 2.2rem;}
.post-btn > button {cursor: pointer; padding: 0.7rem 1rem; border: none; color: #fff; font-size: 1.5rem; font-weight: 700; border-radius: 6px; background-color: #ff6f0f;}
.post-btn > button:hover {cursor: pointer; padding: 0.7rem 1rem; border: none; color: #fff; font-size: 1.5rem; font-weight: 700; border-radius: 6px; background-color: #ff9e66;}
.post-btn2 {float:left;}


.main-wrap .add-h3 {float:left;}
.main-wrap .choice-gray {color: gray;}
.main-wrap .add-gray {color: gray;}

